<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> 

        <button class="btn btn-success" (click)="backToHome()"> Back </button>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

          <div formGroupName="userdata">

            <div class="form-group">

              <label for="username">Username</label>

              <input type="text"
               id="username"
               formControlName="username"
                class="form-control"
                >

                <span 
                *ngIf="!signUpForm.get('userdata.username')?.valid && signUpForm.get('userdata.username')?.touched"
                class="help-block"
                >  
                <span *ngIf="this.signUpForm.get('userdata.username')?.errors?.['nameIsForbidden']"> This name is invalid ! </span>
                
                <span *ngIf="this.signUpForm.get('userdata.username')?.errors?.['required']">This field is required !  </span>
                

               </span>

            </div>

            <div class="form-group">

              <label for="email">Mail</label>

              <input 
              type="email" 
              id="email" 
              formControlName="email"
              class="form-control"
              >
              
              <span 
              *ngIf="!signUpForm.get('userdata.email')?.valid && signUpForm.get('userdata.email')?.touched"
              class="help-block"
              > Enter a valid email ! </span>

            </div>

          </div>

           
            <div class="radio" *ngFor="let gender of genders">
              <label for="">
                <input 
                type="radio"
                formControlName="gender"
                [value]="gender"
                >
             {{ gender}}
              </label>
            </div>

            <div formArrayName="hobbies">
              <h3> Your Hobbies </h3>
              <button 
              class="btn btn-success" 
              type="button"
              (click)="onAddHobby()"
              > Add your hobby </button>
              <div 
              class="form-group"
              *ngFor="let hobbyControl of signUpForm.get('hobbies')?.value; let i = index"
              >
                <input type="text" [formControlName]="i">
              </div>
            </div>

          <br>

        <button class="btn btn-primary" type="submit()"> Submit </button>

        </form>
      </div>
    </div>
  </div>
  