<div class="container">
    <div class="row">
     <div class="clo-xs-12">
        <h1 class="h1">Hi It's your tasks in components </h1>
        <hr>
        <!-- <ol>
            <li> Create two new components mannually and with angular cli  ( Warning alert and  Success alert ) </li>
            <li> Output them beneath each other in the AppComponent </li>
            <li> Output a warning or success message in components </li>
            <li> Style the components appropriately </li>
        </ol>

        <div >Solutions :
            <app-warning></app-warning>
            <app-success></app-success>
         </div> -->

       <!-- <app-data-binding></app-data-binding> -->
       <app-directives></app-directives>
       
      </div>
   
    </div>
</div>